body  {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.page-wrapper {
  box-sizing: border-box;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.page-site {
  padding: 0 2.25%;
}

img {
  max-width: 100%;
  height: auto;
}

.page-catalog-body .page-wrapper {
  background-color: #849d8f;
}

.write-us {
  display: none;
}

/*---------------- nav-logo ----------------*/
.nav-logo {
  margin-right: 15px;
  margin-left: -6px;
  padding-top: 9px;
}

.nav-logo__link {
  display: block;
}

.nav-logo {
  width: 154px;
  height: 64px;
}

.nav-logo__img {
  vertical-align: bottom;
}

/*---------------- nav-menu ----------------*/
.page-catalog-body
.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  min-width: 560px;

}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  font-size: 0;
  list-style-type: none;

}

.nav-menu__item {
  position: relative;
  vertical-align: top;
}

.nav-menu__item:hover > .sub-menu {
  display: block;
}

.nav-menu__link {
  display: block;
  align-items: center;
  margin-bottom: 5px;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 16px;
}

.nav-menu__link_active {
  background: #d07058;
  cursor: default;
}

.nav-menu__link::after {
  content: "";
  position: absolute;
  right: 14px;
  bottom: 7px;
  left: 14px;
}

.nav-menu__item:hover .nav-menu__link {
  color: #333333;
  background-color: #ffffff;
}

.nav-menu__item:hover .nav-menu__link_active {
  color: #ffffff;
  background: #d07058;
}

/*---------------- sub-menu ----------------*/
.sub-menu {
  position: absolute;
  left: -7px;
  z-index: 5;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.sub-menu__link {
  display: block;
  padding: 9px 0;
  padding-left: 21px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-menu__link:hover {
  background-color: #fbded7;
}

.sub-menu__link:active {
  background-color: #f6b5a5;
}

.sub-menu__link_bold {
  font-weight: 700;
}


/*------ search ------*/
.search {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 6px;
  font-size: 16px;
  vertical-align: top;
}

.search__btn {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  font-size: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
}

.search__btn::before {
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  background-position: -168px 0;
  width: 17px;
  height: 17px;

}

.search:hover .search__btn {
  background-color: #ffffff;
}

.search:hover .search__btn::before {
  background-position: -168px 0;
}

.search__form {
  position: absolute;
  right: 0;
  display: none;
  z-index: 10;
  width: 311px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.search:hover .search__form {
  display: block;
}

.basket {
  position: relative;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;

}

.basket:hover .basket__product-list {
  display: block;
}

.basket__btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 117px;
  margin-bottom: 4px;
  padding: 8px 0;
  padding-left: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  vertical-align: top;
  border-radius: 16px;
  background: rgba(255, 255, 255, .2);
}

.basket__btn::before {
  background-position: -195px 0;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
}

.basket__product-list {
  position: absolute;
  right: 0;
  display: none;
  padding: 15px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  background: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.basket__table {
  width: 510px;
  border-collapse: collapse;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #cacac7;
}

.basket__table td {
  vertical-align: top;
}

.basket__del-btn {
  width: 14px;
  padding-top: 15px;
}

.basket__product-img {
  width: 44px;
  padding-top: 6px;
  text-align: right;
}

.basket__product-name {
  width: 238px;
  padding: 15px 11px;
  padding-bottom: 19px;
  text-align: left;
}

.basket__product-price {
  color: #999999;
}

.basket__product-weight {
  width: 113px;
  padding-top: 15px;
  padding-bottom: 19px;
}

.basket__product-total {
  width: 89px;
  padding-top: 15px;
  padding-bottom: 19px;
}

.basket__in-total {
  font-weight: 700;
  font-size: 15px;
  line-height:16px;
}

.basket_empty .basket__btn {
  color: #ffffff;
}

.basket_empty:hover .basket__btn{
  cursor: default;
}

.basket_empty .basket__btn::before {
  background-position: -226px 0;
}

/*---------------- login ----------------*/



.login {
  position: relative;
  display: inline-block;
  margin-right: 9px;
  font-size: 16px;
  vertical-align: top;
  z-index: 10;
}

.login:hover .login__btn {
  color: #323232;
  background-color: #ffffff;
}

.login:hover .login__btn::before {
  background-position: -288px 0;
  width: 21px;
  height: 19px;
}

.login__btn {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  padding: 8px 0;
  padding-right: 16px;
  padding-left: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
  background: rgba(255, 255, 255, .2);
  border-radius: 16px;
}

.login__btn::before {
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-position: -257px 0;;
}

.login__form {
  position: absolute;
  right: -2px;
  display: none;
  width: 241px;
  padding: 21px 17px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.login__submit {
  padding: 10px 24px;
}

.login:hover .login__form {
  display: block;
}



.user-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 267px;
  padding-top: 22px;
  font-size: 0;
}

.user-block__icon::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

/*---------------- page-header__index-content ---------------*/
.page-header__index-content {
  position: absolute;
  top: 100%;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}

.page-header__index-content b {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

/*---------------- action ----------------*/
.action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 700;
  color: #ffffff;
}

.action__item {
  box-sizing: border-box;
  width: 560px;
  padding: 17px 21px;
  padding-bottom: 23px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.action__item {
  height: 231px;
  margin-right: 0;
  margin-left: 0;
}

.action__item:first-child {
  margin-right:  26px;
}

.action__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.action__sentence {
  margin: 0;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 22px;
}

.action__item_left {
  background-color: #73091B;
  background-image: url("../img/big-raspberry-backround.jpg");
}

.action__item_right {
  background-color: #6D0004;
  background-image: url("../img/big-chocolate-background.jpg");
}

.action__btn {
  text-align: right;
}

/*---------------- btn ----------------*/
.btn {
  display: inline-block;
  padding: 11px 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
  background: #f26843;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  cursor: pointer;}

.btn:hover {
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

/*---------------- form ----------------*/
.form {
  padding: 20px 15px;
  background: #f8f7f4;
  border-radius: 6px;
}

.form__input-holder {
  position: relative;
}

.form__input-label {
  position: absolute;
  top: 0;
  left: 12px;
  color: #999999;
  visibility: hidden;
  opacity: 0;
  transition: top .2s, opacity .2s;
}

.form__input,
.form__textarea {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 13px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #323232;
  vertical-align: top;
  background-image: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.form__input:hover,
.form__textarea:hover {
  border-color: #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

.form__input:focus,
.form__textarea:focus {
  border-color: #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}

.form__input::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
  opacity: 1;
  transition: opacity .2s;
}

.form__input:focus::-webkit-input-placeholder,
.form__textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s;
}


.form__input:focus + .form__input-label,
.form__textarea:focus + .form__input-label {
  top: -15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  visibility: visible;
  opacity: 1;
}


/*---------------- slider ----------------*/
.page-slider {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image .2s, background-color .2s;
}

.page-slider::before,
.page-slider::after {
  content: "";
  visibility: hidden;
}

.page-slider::before {
  background-image: url("../img/slider-2.png");
}

.page-slider::after {
  background-image: url("../img/slider-3.png");
}

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 319px;
  color: #ffffff;
  text-align: center;
}

.slider__item {
  display: none;
}

.slider__title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider__nav {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 5;
}

.slider__nav-item {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__nav-item:hover {
  background-color: rgba(255, 255, 255, .4);
}

.slider__nav-item:active {
  background-color: #ffffff;
}

#slider__btn-1:checked ~ .page-slider #slide-1,
#slider__btn-2:checked ~ .page-slider #slide-2,
#slider__btn-3:checked ~ .page-slider #slide-3 {
  display: block;
}

#slider__btn-1:checked ~ .page-slider .slider__nav-item[for="slider__btn-1"],
#slider__btn-2:checked ~ .page-slider .slider__nav-item[for="slider__btn-2"],
#slider__btn-3:checked ~ .page-slider .slider__nav-item[for="slider__btn-3"] {
  background-color: #ffffff;
}

#slider__btn-1:checked ~ .page-slider {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#slider__btn-2:checked ~ .page-slider {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#slider__btn-3:checked ~ .page-slider {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

.btn__slide {
  padding: 12px 41px;
  font-size: 32px;
  line-height: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
  border-radius: 32px;
}

/*---------------- products ----------------*/
.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 0;
}

.products_catalog {
  margin-bottom: 45px;
}

.product {
  position: relative;
  width: 23.298429%;
  margin-right: 2.268760%;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: top;
}

.product:nth-child(4n) {
  margin-right: 0;
}

.product::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -4.868913%;
  bottom: -75px;
  left: -4.868913%;
  z-index: -5;
  display: none;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  opacity: .3;
}

.product:hover {
  z-index: 5;
}

.product:hover::before {
  display: block;
}

.product:hover .product__btn {
  display: block;
}

.product__img {
  position: relative;
  margin-bottom: 7px;
}

.product-bestseller .product__img::before {
  content: "";
  position: absolute;
  background: #ffffff url("../img/sprite.png") no-repeat;
  background-position: -721px 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  z-index: 2;

}

.product__price {
  position: absolute;
  bottom: 13px;
  left: 1px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.product__weight {
  font-size: 30px;
}

.product__link {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.product:hover .product__link {
  border-color: transparent;
}

.product__btn {
  position: absolute;
  bottom: -55px;
  left: 50%;
  display: none;
  min-width: 193px;
  padding: 11px 0;
  transform: translateX(-50%);
}
